services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.dev
    stdin_open: true
    tty: true
    ports:
      - "8080:8080"
    env_file:
      - .env
    volumes:
      - .:/app
      - go-mod-cache:/go/pkg/mod
    depends_on:
      db:
        condition: service_healthy
    networks:
      - app-network

  db:
    image: postgres:17
    ports:
      - 5433:5432
    env_file:
      - .env.psql
    volumes:
      - db-store:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "${POSTGRES_USER}"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - app-network


volumes:
  db-store:
  go-mod-cache:

networks:
  app-network:
    driver: bridge