services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.dev
    stdin_open: true
    tty: true
    ports:
      - "8080:8080"
    env_file:
      - .env
    volumes:
      - .:/app
      - go-mod-cache:/go/pkg/mod

volumes:
  go-mod-cache:
